@import './Animations.css';

.application-logo {
  border-radius: 20px;
  margin-bottom: 20px;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.stack:hover .application-logo {
  transform: scale(1.15);
}

.stack {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(59, 130, 246, 0.5);
  padding: 10px;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: background-color 0.5s;
}

.stack:hover {
  background-color: rgb(37, 37, 37);
}

.show.stack {
  animation-name: fadeInFromBottom, fadeInFromTop;
  animation-duration: 1s;
  opacity: 1;
  animation-fill-mode: backwards;
}

.application {
  opacity: 0;
}

.application.show {
  opacity: 1;
}
