@import './Animations.css';

.application-logo {
  border-radius: 20px;
  margin-bottom: 20px;
}

.stack {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  flex-direction: column;
  align-items: center;
  border: 0.5px solid rgba(0, 170, 255, 1);
  padding: 10px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: background-color 0.5s;
}

.stack:hover {
  background-color: rgb(37, 37, 37);
}

.show.stack {
  animation-name: fadeInFromBottom, fadeInFromTop;
  animation-duration: 1s;
  opacity: 1;
  animation-fill-mode: backwards;
}

.application {
  opacity: 0;
}

.application.show {
  opacity: 1;
}
