@import './Animations.css';

.experience {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-left: 2px solid rgb(162, 162, 162);
}

.title-align {
  display: flex;
  flex-direction: row;
}

/* .vertical-line-with-dot {
  width: 2px;
  height: 300px;
  background-color:rgb(162, 162, 162);
  position: relative; 
  margin-right: 20px;
}

.vertical-line-with-dot::before {
  content: ""; 
  display: block;
  width: 10px; 
  height: 10px;
  background-color: rgba(0, 170, 255, 1);
  border-radius: 50%; 
  position: absolute; 
  top: 8px;
  left: 50%; 
  transform: translateX(-50%);
} */

.circle {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 170, 255, 1);
  border-radius: 50%;
  display: block;
  position: absolute;
  transform: translateY(10px) translateX(-6px);
}

.experience-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  opacity: 0;
}

.show.experience-content {
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.scrolling-up.experience-content {
  opacity: 1;
}

.experience-company {
  font-weight: bold;
  font-size: 30px;
}

.experience-title {
  font-size: 20px;
  color: rgba(0, 170, 255, 1);;
}

.experience-date {
  color: rgb(162, 162, 162);
}

.experience-description {
  line-height: 1.5;
}

.experience-company,
.experience-title,
.experience-content,
.experience-date,
.experience-description {
  margin-left: 20px;
}

@media (max-width: 800px) {
  .vertical-line-with-dot {
    width: 2px;
    height: 400px;
    background-color:rgb(162, 162, 162);
    position: relative; 
    margin-right: 20px;
  }
}