@import './Animations.css';

.project-parent {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 2s ease;
  width: 400px;
  border: 1px solid rgba(0, 170, 255, 1);
  opacity: 0;
}

.show.project-parent {
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.show.project {
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.show.title-stack {
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.show.project-title {
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.show.stack-align {
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.show.project-description {
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.project {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
  opacity: 0;
}

.project-parent:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project-image {
  width: 100%;
  height: 60%;
  margin-bottom: 20px;
}

.project-title {
  font-weight: bold;
  margin-left: 10px;
  font-size: 25px;
  opacity: 0;
}

.project-description {
  line-height: 1.5;
  margin-left: 10px;
  font-size: 15px;
  margin-bottom: 20px;
  opacity: 0;
}

.title-stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0;
}

.stack-align {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 10px;
  opacity: 0;
}