.project-stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: auto;                    /* enable horizontal scroll */
  -webkit-overflow-scrolling: touch; 
}

.projects {
  display: grid;
  padding: 20px;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, auto);
  gap: 70px;                /* adjust spacing */
  width: 900px;
  padding: 12px;
}

.scroll-indicator {
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-navigation {
  display: flex;
  margin: 0 auto;
  align-items: center;
  column-gap: 1rem;
  bottom: 1.25rem;
  z-index: 1;
  transform: translateX(-40%);
}

.navigation-buttons {
  height: 50px;
  width: 50px;
  font-size: 30px;
  border-radius: 50%;
  background: transparent;
  color: white;
}

@media (max-width: 800px) {
  .projects {
    grid-template-rows: repeat(3, 1fr);
  }
}