@import './Animations.css';

@keyframes animated-line {
  0% {
    transform: translateX(-30%);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.show.title-logo {
  animation-name: spin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.show.section-name {
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.show.dotted-line {
  animation-name: animated-line;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-logo {
  border: 1px solid rgba(0, 170, 255, 1);
  background-color: #09174b;
  padding: 20px;
  border-radius: 20px;
  opacity: 0;
}
 
.section-name {
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  background: #ffffff;
  background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(195, 200, 230, 1) 35%, rgba(59, 130, 246, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  opacity: 0;
}

.dotted-line {
  border: none;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(25, 19, 132, 0) 0%,
    rgba(25, 19, 132, 0) 10%,
    rgba(59, 130, 246, 1) 50%,
    rgba(9, 9, 121, 0) 90%,
    rgba(9, 9, 121, 0) 100%
  );
  margin: 16px 0;
  width: 100%;
  background-size: 100% 100%;
  margin-bottom: 50px;
  opacity: 0;
}

.section {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}