@import './Animations.css';

.stack-border {
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-columns: repeat(6, auto);
  flex-wrap: wrap;
  width: 100%;
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
}

@media (max-width: 800px) {
  .stack-border {
    grid-template-columns: repeat(2, auto);
  }
}