@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;700&display=swap');
@import '/src/components/Animations.css';


:root {
  background: black;
  color: white;
  font-family: 'Archivo';
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90vh;
  gap: 70px;
  margin-top: 70px;
  animation-name: fadeIn;
  animation-duration: 1s;
}


.tech-arsenal {
  width: 100%;
}


.buttons {
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  transition: background-color 0.5s;
}

.buttons:hover {
  background-color: rgba(0, 170, 255, 1);
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 20px;
  justify-content: center;
}
